<div class="col-md-3">
  <h5>#TODO loop through bookmarks</h5>
   <div class="thumbnail">
    <img src="http://placehold.it/300x200">
    <div class="caption">
      <h3><%= bookmark.name %></h3>
      <h3><%= bookmark.url %></h3>
    </div>
  </div>
</div>