<h1>Topics</h1>
<hr>

<% @topics.each do |topic| %>
  <%= render partial: 'topic', object: topic, locals: {bookmarks: topic.bookmarks } %>
<% end %>

<!-- <div id="infinite-scrolling">
  <%#= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</di> -->
