<h1>Topics</h1>

<% @topics.each do |topic| %>
  <div class="row">
    <h3>#<%= link_to topic.name, topic %></h3>
    <%#= render @bookmarks %>
    <div class="col-md-4">
      <h3><%= topic.bookmarks.count %></h3>
    </div>
  </div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</di>
