<h1><%= @user.email %>'s Bookmarks</h1>
<hr>

<div class="row">
  <% @bookmarks.group_by{ |bookmark| bookmark.topic}.each do |topic, bookmarks| %>
    <%= render partial: 'topics/topic', object: topic, locals: { bookmarks: bookmarks } %>
  <% end %>
</div>
  


<%#= will_paginate @bookmarks, renderer: BootstrapPagination::Rails %>